<div class="row">
   <div class="col-lg-9">
      <div id="logo">
           Cricket Sense
      </div>
   </div>
  <div class="col-lg-3">
    <div id="top_header2">
      <a href="#" class="top_header_links" view_value="camera_container">3D Motion </a> |
      <a href="#" class="top_header_links" view_value="graphs_container">Analytics </a> |
      <a href="#" class="top_header_links" view_value="all_shots_container">Practice Session </a>
    </div>
  </div>
</div>

