<div class="row">
   <div class="col-lg-10">
      <div id="logo">
           Cricket Sense
      </div>
   </div>
  <div class="col-lg-2">
    <div id="top_header2">
      <a href="#" class="top_header_links" view_value="camera_container">Camera </a> |
      <a href="#" class="top_header_links" view_value="graphs_container">Graphs </a> |
      <a href="#" class="top_header_links" view_value="my_shots_container">Shots </a>
    </div>
  </div>
</div>

