<div class="row" id="graph_chart_{{graph_id}}"><h3> {{graph_heading}} </h3><div class="col-lg-10"><div id="chart_{{graph_id}}"></div></div><div class="col-lg-2"><div id="legend_{{graph_id}}"></div></div></div>

